<!-- Footer -->
<footer class="page-footer font-small pink lighten-1 pt-4 w-100 d-inline-block">
  <div class="container-fluid text-center mt-0 text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Robin Roos</h5>
        <p>
          Welkom op de officiële HappyKeys website.
        </p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3" />
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Piano leren spelen?</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://www.synthesiagame.com/" target="_blank"
              >Synthesia</a
            >
          </li>
          <li>
            <a href="https://www.apkgent.be/" target="_blank">APK Aalst</a>
          </li>
          <li>
            <a href="https://www.vandemoer.be/nl" target="_blank"
              >Van De Moer Aalst</a
            >
          </li>
          <li>
            <a href="https://www.hoffmanacademy.com/" target="_blank"
              >Hoffman Academy</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    © 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/">Robin Roos</a>
  </div>
</footer>
