.whitekey {
    min-height: 175px;
    float:left;
    background-image: linear-gradient(to top, #E0E0E0, #FAFAFA)
}

.blackkey {
    background-image: linear-gradient(to top, #212121, #424242);
    min-height: 110px;
    position: absolute;
    z-index: 1;
}

.whitekey:active, .blackkey:active {
    background-image: linear-gradient(to top, #1976d2, #64b5f6)
}

.border-dark {
    border: 2px solid black; 
    margin: -2px;
}

