<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark brown-gradient">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">123 Piano!</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Player
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Crash course</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Voorbeelden</a>
      </li>

    </ul>
    <!-- Links -->

    <ul class="navbar-nav my-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Login
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Registreer</a>
      </li>

    </ul>
  </div>
  <!-- Collapsible content -->


</nav>
<!--/.Navbar-->