<div class="container-fluid">
  <div class="col-xs-12 col-md-10 col-xl-9 pt-5 pb-5 mx-auto">
    <div class="card text-white text-center mx-auto">
      <div class="card-header bg-light deep-purple-text h4 mb-4 text-center">
        <i class="fas fa-user fa-lg pr-2"></i> Inloggen
      </div>
      <form>
        <div class="form-row pr-5 pt-3 pl-5">
          <div class="col-12">
            <div class="md-form input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                <span
                  class="input-group-text md-addon"
                  id="inputGroupMaterial-sizing-lg"
                >
                  <i class="fas fa-user-circle fa-2x fa-fw green-text"></i>
                </span>
              </div>
              <input
                type="text"
                class="form-control border-bottom green-form-control shadow-none"
                placeholder="gebruikersnaam of e-mailadres"
                autofocus
                aria-label="gebruikersnaam"
                autofocus
              />
            </div>
          </div>
        </div>
        <div class="form-row pr-5 pt-3 pl-5">
          <div class="col-12">
            <div class="md-form input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                <span
                  class="input-group-text md-addon"
                  id="inputGroupMaterial-sizing-lg"
                >
                  <i class="fas fa-lock fa-2x fa-fw red-text"></i>
                </span>
              </div>
              <input
                type="password"
                class="form-control border-bottom red-form-control"
                placeholder="wachtwoord"
                aria-label="password"
              />
            </div>
          </div>
        </div>
        <p class="text-dark h5 pt-3 pb-3 d-inline-block">
          Nog geen account? <a href="" target="_blank">Registreren</a>
        </p>
        <hr class="pt-1 pb-1" />
        <p class="text-dark d-inline-block">
          <a href="" target="_blank">Wachtwoord vergeten</a>
        </p>
        <div class="rounded-bottom bg-light text-center pt-3 pb-3 pb-2">
          <button
            class="btn btn-lg deep-purple lighten-1 font-weight-bold text-light rounded-0 font-large mx-auto"
            type="submit"
          >
            <i class="fas fa-check fa-lg fa-fw pr-2"></i> Inloggen
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
