<div class="container-fluid">
  <div class="col-xs-12 col-xl-11 pt-5 pb-5 mx-auto">
    <div class="card text-white text-center mx-auto">
      <div class="card-header purple h4 mb-4 text-center">
        Registreren</div>
      <form>
        <div class="form-row pr-5 pl-5">
          <div class="col-12">
            <div class="md-form input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-lg">
                  <i class="fas fa-user-circle fa-2x fa-fw yellow-text"></i>
                </span>
              </div>
              <input type="text" class="form-control border-bottom yellow-form-control"
                placeholder="gebruikersnaam" aria-label="gebruikersnaam" autofocus>
            </div>
          </div>
        </div>
        <div class="form-row pr-5 pl-5">
          <div class="col-xs-12 col-md-6">
            <div class="md-form input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-lg">
                  <i class="fas fa-user fa-2x fa-fw green-text"></i>
                </span>
              </div>
              <input type="text" class="form-control border-bottom green-form-control" placeholder="voornaam"
                aria-label="voornaam">
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="md-form input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-lg">
                  <i class="fas fa-users fa-2x fa-fw green-text"></i>
                </span>
              </div>
              <input type="text" class="form-control border-bottom green-form-control" placeholder="familienaam"
                aria-label="familienaam">
            </div>
          </div>
        </div>
        <div class="form-row pr-5 pl-5">
          <div class="col-12">
            <div class="md-form input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-lg">
                  <i class="fas fa-envelope fa-2x fa-fw blue-text"></i>
                </span>
              </div>
              <input type="text" class="form-control border-bottom blue-form-control" placeholder="e-mailadres"
                aria-label="email">
            </div>
          </div>
        </div>
        <div class="form-row pr-5 pl-5 mb-2">
          <div class="col-xs-12 col-md-6">
            <div class="md-form input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-lg">
                  <i class="fas fa-lock fa-2x fa-fw red-text"></i>
                </span>
              </div>
              <input type="password" class="form-control border-bottom red-form-control" placeholder="wachtwoord"
                aria-label="wachtwoord">
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-xs-offset-2 pb-4 ">
            <div class="md-form input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-lg">
                  <i class="fas fa-lock fa-2x fa-fw red-text"></i>
                </span>
              </div>
              <input type="password" class="form-control border-bottom red-form-control"
                placeholder="wachtwoord herhalen" aria-label="wachtwoordherhalen">
            </div>
          </div>
        </div>
        <p class="text-dark h5 d-inline-block">Heeft u al een account? <a href="" target="_blank">Aanmelden</a></p>
        <hr>
        <!-- Terms of service -->
        <p class="text-dark pt-5 h6 pb-2">Door
          <em>Registreer</em> te kiezen, gaat u ermee akkoord om uw eerstgeborene naar mij te vernoemen zoals
          beschreven
          in de
          <a href="" target="_blank">gebruiksvoorwaarden</a>.
          <hr>
          <div class="rounded-bottom text-center pt-3 pb-3 pb-2">
            <button class="btn btn-lg purple font-weight-bold text-light rounded-0 font-large"
              type="submit"><i class="fas fa-check fa-lg fa-fw pr-2"></i> Registratie voltooien</button>
          </div>
      </form>
    </div>
  </div>
</div>