<div class="container-fluid">
  <div class="col-xs-12 col-xl-9 pt-5 pb-5 mx-auto">
    <div class="card text-white text-center mx-auto">
      <div class="card-header deep-purple-text h4 mb-4 text-center"><i class="fas fa-user pr-2"></i>Registreren</div>
      <form>
        <div class="form-row pr-5 pl-5">
          <div class="col-12">
            <div class="md-form input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-lg">
                  <i class="fas fa-user-tag fa-lg fa-fw yellow-text"></i>
                </span>
              </div>
              <input type="text" class="form-control border-bottom yellow-form-control shadow-none"
                placeholder="gebruikersnaam" aria-label="gebruikersnaam">
            </div>
          </div>
        </div>
        <div class="form-row pr-5 pl-5">
          <div class="col-xs-12 col-md-6">
            <div class="md-form input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-lg">
                  <i class="fas fa-user fa-lg fa-fw green-text"></i>
                </span>
              </div>
              <input type="text" class="form-control border-bottom green-form-control" placeholder="voornaam"
                aria-label="voornaam">
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="md-form input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-lg">
                  <i class="fas fa-users fa-lg fa-fw green-text"></i>
                </span>
              </div>
              <input type="text" class="form-control border-bottom green-form-control" placeholder="familienaam"
                aria-label="familienaam">
            </div>
          </div>
        </div>
        <div class="form-row pr-5 pl-5">
          <div class="col-12">
            <div class="md-form input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-lg">
                  <i class="fas fa-envelope fa-lg fa-fw blue-text"></i>
                </span>
              </div>
              <input type="text" class="form-control border-bottom blue-form-control" placeholder="e-mailadres"
                aria-label="email">
            </div>
          </div>
        </div>
        <div class="form-row mb-4 pr-5 pl-5 pb-4">
          <div class="col-xs-12 col-md-6">
            <div class="md-form input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-lg">
                  <i class="fas fa-lock fa-lg fa-fw red-text"></i>
                </span>
              </div>
              <input type="password" class="form-control border-bottom red-form-control" placeholder="wachtwoord"
                aria-label="wachtwoord">
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-xs-offset-2 pb-4 ">
            <div class="md-form input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-lg">
                  <i class="fas fa-lock fa-lg fa-fw red-text"></i>
                </span>
              </div>
              <input type="password" class="form-control border-bottom red-form-control"
                placeholder="wachtwoord herhalen" aria-label="wachtwoordherhalen">
            </div>
          </div>
        </div>
        <!-- Sign up button -->
        <button class="btn btn-lg text-capitalize brown lighten-2 w-25 d-inline-block pb-4 text-light mx-auto"
          type="submit">Registreer</button>
        <hr class="pt-4">
        <p class="text-dark d-inline-block pt-2">Al geregistreerd? <a href="" target="_blank">Aanmelden</a></p>
        <hr>
        <!-- Terms of service -->
        <p class="text-dark pt-4 pb-4">Door
          <em>Registreer</em> te kiezen, ga je ermee akkoord om je eerstgeborene naar mij te vernoemen zoals beschreven
          in de
          <a href="" target="_blank">gebruiksvoorwaarden</a>.
      </form>
    </div>
  </div>
</div>